.DS_Store
.idea
.idea/*
.vscode/*

cache/*
data/store/*

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

*.log

# *.txt
*.h5

# data
*.rar
*.csv
*.dat
*.tar.gz
*.zip
*.json
*.png
